#image{
    position: relative;
    left: 50%;

}
h2{
    font-family: 'Raleway', sans-serif;
}
#text
{
    position: relative;
    left: 44%;
}
.tab{
    position: relative;
    left: 40%;
}

.login{  
    width: 250px;  
    font-size: 13px;
    margin:auto; 
    padding: 20px;  
    border-style:groove;
    background: #e9e9f1;  
    border-radius: 5px ;  
      
}  
#user{
    width: 250px;  
    height: 32px;   
    border: none;  
    border-radius: 5px;
    background: #fcfcfc;    

}
#signin{
    width: 250px;  
    height: 32px;   
    border: none;  
    border-radius: 5px;  
    padding-left: 7px; 
    background: #10e762;  
    color: rgb(255, 255, 255);  
  
    
}
#bottom{
    width: 250px;  
    padding: 20px;  
    font-size: 13px;
    border-style:groove;
    background: #ffffff;  
    border-radius: 5px ;  
      

}