h1{
    color: #eb4034;
    text-align: center;
}
#first{
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    float: left;
}
#second{
    float: left;
    width: 500px;
    height: 300px;
    background-color: blueviolet;